@import "../variables"

//Map
.map-container
  display: flex
  position: absolute
  width: 100%
  > div
    margin: 0
  .map-listings
    //Position listings above map
    position: absolute
    background-color: white
    height: 100%
    z-index: 2
    overflow-y: scroll
    overflow-x: hidden
    width: 20%
    min-width: 350px
    max-width: 720px

    @media #{$tablet}
      width: 70%

    .map-listing
      width: 100%
      > div
        display: flex
      h5
        text-overflow: ellipsis
        white-space: nowrap
        overflow: hidden
        color: $color-main
        margin-bottom: 10px
      p
        color: $color-main
        margin: 0
      .listing-container
        margin-top: 10px
        padding: 0 10px
      .map-listing-image
        height: 75px
        float: right
  .full-height
    height: 100%